#box{
    border:2px solid black;
    height:300px;
    width:300px;
    position:absolute;
    left:470px;
    top:150px;
    font-size:20px;
    padding:20px;
  }
  input[type="submit"]{
    font-size:20px;
  }
  